<div class="container m-2">
  <div class="row">
    <div class="col">
      <h2>Dodaj nowy kontakt</h2>
    </div>
  </div>
  <form [formGroup]="contactForm" (ngSubmit)="save()">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group m-2">
          <label for="firstName">Imię:</label>
          <input formControlName="firstName" name="firstName" maxlength="16">
        </div>
        <div class="form-group m-2">
          <label for="lastName">Nazwisko:</label>
          <input formControlName="lastName" name="lastName" maxlength="32">
        </div>
        <div class="form-group m-2">
          <label for="email">E-mail:</label>
          <input formControlName="email" name="email" maxlength="100">
        </div>
        <div class="form-group m-2">
          <label for="phoneNumber">Telefon:</label>
          <input formControlName="phoneNumber" name="phoneNumber" maxlength="12">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group m-2">
          <label for="phoneNumber">Data urodzin:</label>
          <input type="date" formControlName="birthdayDate" name="birthdayDate">
        </div>
        <div class="form-group m-2">
          <label for="phoneCategory">Kategoria:</label>
          <select class="mb-3" formControlName="phoneCategory">
            <option *ngFor="let phoneCategory of phoneCategoryList" [ngValue]="phoneCategory">
              {{ phoneCategory }}
            </option>
          </select>
        </div>
        <div class="form-group m-2" *ngIf="contactForm.value.phoneCategory=='służbowy'">
          <label for="postition">Pozycja:</label>
          <select class="mb-3" formControlName="position">
            <option *ngFor="let position of positions" [ngValue]="position">
              {{ position }}
            </option>
          </select>
        </div>
        <div class="form-group m-2">
          <button class="btn btn-md btn-primary" type="submit" [disabled]="contactForm.invalid">Zapisz</button>
        </div>
      </div>
    </div>
  </form>
</div>
